nav {
  padding: 0px 20%;
  display: flex;
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0px;
}

nav ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

nav ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: white;
}

nav ul li a:hover {
  background-color: dodgerblue;
  color: black;
  font-weight: bold;
}
