main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

main h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}